/*
 *= require admin/spree_backend
*/
$color-unban: #9fc820;
$color-ban: #c60f13;

@mixin powerTipColor($color) {
  background-color: $color;

  &.n:before, &.ne:before, &.nw:before {
    border-top-color: $color;
  }

  &.e:before, &.nw:before, &.sw:before {
    border-right-color: $color;
  }

  &.s:before, &.se:before, &.sw:before {
    border-bottom-color: $color;
  }

  &.w:before {
    border-left-color: $color;
  }
}

#powerTip {
  &.ban {
    @include powerTipColor($color-ban);
  }
  &.unban {
    @include powerTipColor($color-unban);
  }
}

table {
  tr {
    &.highlight {
      &.action-ban td {
        background-color: #fdebeb;
        border-color: #fcd3d4;
      }
      &.action-unban  td {
        background-color: #f8fceb;
        border-color: #e0f1a9;
      }
    }
    &.before-hightlight {
      &.action-ban td {
        border-bottom-color: #e0f1a9;
      }
      &.action-unban td {
        border-bottom-color: #fcd3d4;
      }
    }
    th, td {
      &.actions {
        .user-ban-link {
          &.icon-undo:hover {
            background-color: $color-unban;
            color: white;
          }
          &.icon-ban-circle:hover {
            background-color: $color-ban;
            color: white;
          }
        }
      }
    }
  }
}
